body{
    background-color: #e8e8e8;
    font-family: monospace;
}

.main-section{
    display: flex;
    flex-direction: row;
    height: 97vh;
}

#block-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    width: 250px;
    height: 100%;
}

#codeView{
    padding: 0;
    margin: 0;
    width: 500px;
    height: 100%;
    background-color: white;
}

.emptyRoundSpace{
    padding: -2px;
    min-width: 40px;
    background-color: rgba(0, 0, 0, 0.318);
    min-height: 20px;
    border-radius: 300px;
}
.emptySquareSpace{
    padding: 4px;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.318);
    border: solid 2px rgba(203, 203, 203, 0.275);
    height: 15px;
    border-radius: 5px;
}

#type-selection{
    display: flex;
    flex-direction: column;
}

#type-selection button{
    border: 0px;
    padding: 5px;
    color: #555555;
    background-color: #e8e8e800;
    justify-items: center;
}
#type-selection div{
    width: 25px;
    height: 25px;
    border-radius: 300px;
    border: solid 2px #555555;
}

#eventbtn div{background-color: #d3cd0b;}
#controlbtn div{background-color: #ff8400ff;}
#motionbtn div{background-color: #378aff;}
#looksbtn div{background-color: #ff0062ff;}
#soundbtn div{background-color: #bb00ffff;}
#inputbtn div{background-color: #00ff84ff;}
#operatebtn div{background-color: #71fc00ff;}
#variablebtn div{background-color: #f1551cff;}
#functionbtn div{background-color: #d02121ff;}

#type-selection button:hover{
    background-color: rgb(202, 202, 202);
}

.Block{
    color: white;
    display: flex;
    gap: 4px;
    max-width: fit-content;
    align-items: center;
    padding: 4px;
    border-radius: 6px;
    
}

.Block input{
    border-radius: 300px;
    border: solid 2px #ffffff;
    width: 30px;
    text-align: center;
}

.Block input:focus { outline: rgb(49, 49, 49); }

.control{
    background-color: #ff8400ff;
    border: solid 2px #dd7200ff;
}
.control input{
    background-color: #fde5cb;
}

.event{
    background-color: #d3cd0b;
    border: solid 2px #bfb901ff;
}
.event input{
    background-color: rgb(226, 225, 174);
}

.motion{
    background-color:#378aff;
    border: solid 2px #0064f1;
}
.motion input{
    background-color: rgb(190, 217, 255);
}

.looks{
    background-color: #ff0062ff;
    border: solid 2px #bd0048ff;
}
.looks input{
    background-color: rgb(254, 189, 214);
}

.sound{
    background-color: #bb00ffff;
    border: solid 2px #a400e0ff;
}
.sound input{
    background-color: rgb(239, 194, 255);
}

.input{
    background-color: #00ff84ff;
    border: solid 2px #00dc71ff;
}
.input input{
    background-color: rgb(201, 255, 229);
}

.operate{
    background-color: #71fc00ff;
    border: solid 2px #63db00ff;
    border-radius: 300px;
}
.operate input{
    background-color: rgb(218, 255, 188);
}

.variable{
    background-color: #f1551cff;
    border: solid 2px #d93a00ff;
    border-radius: 300px;
}
.variable input{
    background-color: rgb(255, 197, 176);
}

.function{
    background-color: #d02121ff;
    border: solid 2px #b61717ff;
}
.function input{
    background-color: rgb(246, 178, 178);
}